# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
env/
ENV/

# Database & Persistent Volume Artifacts
*.db
*.sqlite3
data/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Operating System Files
.DS_Store
Thumbs.db